<!DOCTYPE html>
<html>
    <body>
        <h1>Chat</h1>
        <hr>
        <!-- Create a chat application using tables -->
         <div id="chat-frame">
            <!-- first row is used to organize the profile picture and name as th -->
             <tr>
                <th>Profile Picture</th>
                <th>Name</th>
             </tr>
             <!-- for each new message, create a table row to store it -->
              <tr><p>MESSAGE 1</p></tr>
              <tr><p>MESSAGE 2</p></tr>
         </div>
    </body>
</html>